html{
    font-family: 'Roboto Mono', monospace;
}

body{
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 118, 118);
}

.wrapper{
    width: 375px;
    min-height: 650px;
    background-color: rgb(207, 207, 207);
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 50);
    display: flex;
    flex-direction: column;
    /*position: absolute;*/
}

.title{
    cursor: default;
    font-weight: bolder;
    font-size: 56px;
    margin: 0;
    margin-bottom: -20px;
    color: rgb(41, 41, 41);
}

.screen{
    /*height: 25%; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(134, 134, 134, 0.2);
    border-bottom: solid rgba(133, 133, 133, 0.2);
    box-shadow: inset 0 3px 10px rgb(0 0 0 / .2);
    display: flex;
    flex-direction: column;
    padding: 14px;
    gap: 12px;
    align-items: flex-end;
    justify-content: space-around;
    
}

.operation{
    font-weight: lighter;
    font-size: 24px;
    color: rgb(99, 99, 99);
    min-height: 54px;
    cursor: default;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.current{
    font-weight: bold;
    font-size: 38px;
    color: rgb(43, 43, 43);
    cursor: default;
    min-height: 64px;
    height: 80px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.buttons{
    display: flex;
    flex-direction: column;
    min-height: 67%;
    width: 90%;
    padding: 16px;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

.column button{
    min-width: 75px;
    min-height: 75px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.055);
    border-width: 0px;
    border-color: rgb(112, 112, 112);
    font-weight: bolder;
    font-size: 24px;
    cursor: pointer;
    color: rgb(43, 43, 43);
    box-shadow: inset 0 3px 10px rgb(0 0 0 / .2);
}

.column button:hover{
    background-color: rgba(24, 24, 24, 0.199);
}

.footer{
    font-weight: lighter;
    font-size: 14px;
    text-decoration: none;
    color: rgb(41, 41, 41);
    cursor: default;
}

.footer a{
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: rgb(41, 41, 41);
    transition: 1 ease-in-out;
}

.footer a:hover{
    font-weight: bolder;
}